<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <div id='app'>

        <!-- header vue -->
        <header>
            <h1>{{title}}</h1>
        </header>

        <div class="main">

            <!-- nav vue -->
            <nav class="nav">
                <div class="box-input">
                    <input 
                        type="text" 
                        v-model='textInput'
                        :placeholder="textPlaceholder"
                        @keyup.enter='addTodo'
                    >
                </div>

            <!-- end nav -->
            </nav>

            <!-- start todos -->
            <div>
                <ul class='todos'>
                    <li 
                        class="todo"
                        v-for="todo in todos">
                        <div class="todo">
                            <div class="text">
                                {{todo}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        <!-- end main -->
        </div>

    </div>

    <script src="app.js"></script>
</body>
</html>