<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <div id='app'>

        <div class="container">

            <!-- header vue -->
            <header>
                <h1>{{title}}</h1>
            </header>

            <div class="main">

                <!-- nav vue -->
                <nav class="nav">
                    <div class="box-input">
                        <input 
                            class="mx-3"
                            type="text" 
                            v-model='textInput'
                            :placeholder="textPlaceholder"
                            @keyup.enter='addTodo'
                        >
                        <button type="button" class="btn btn-success">Add</button>
                    </div>

                <!-- end nav -->
                </nav>

                <!-- start todos -->
                <div>
                    
                    <div class="text-center mt-3 pb-0">
                        <h4>Todo item</h4>
                    </div>
                    
                    <ul class='todos mb-2'>
                        <li 
                            class="todo"
                            v-for="(todo, index) in todos">
                            
                            <div class="alert alert-success mb-2 todo w-100" role="alert">
                                
                                
                                <div class="todo">
                                    <p class="m-0 p-0">{{index}} ) {{ todo}}</p>
                                </div>

                                <div class="btn-toolbar clearfix" role="toolbar" aria-label="Toolbar with button groups">
                                    
                                    <div class="btn-group m-0 p-0 mr-2 " role="group" aria-label="First group">
                                        <button type="button" class="btn"><i class="fas fa-check text-success"></i></button>
                                    </div>
                                    
                                    <div 
                                        class="btn-group m-0 p-0 mr-2" 
                                        role="group" 
                                        aria-label="First group"
                                        @click='deleteTodo(index)'>
                                        
                                        <button type="button" class="btn">
                                            <i class="fas fa-trash text-danger"></i>
                                        </button>
                                    </div>
                               
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>

                <!-- start item cestinati -->
                <div>
                    
                    <div class="text-center mt-3 pb-0">
                        <h4>Todo item eliminated</h4>
                    </div>
                    
                    <ul class='todos mb-2'>
                        <li 
                            class="todo"
                            v-for="(todo, index) in todosEliminati">
                            
                            <div class="alert alert-success mb-2 todo w-100" role="alert">
                                
                                
                                <div class="todo">
                                    <p class="m-0 p-0">{{index}} ) {{ todo}}</p>
                                </div>

                                <div class="btn-toolbar clearfix" role="toolbar" aria-label="Toolbar with button groups">
                                    
                                    <div class="btn-group m-0 p-0 mr-2 " role="group" aria-label="First group">
                                        <button type="button" class="btn"><i class="fas fa-times text-danger"></i></button>
                                    </div>

                                    <div class="btn-group m-0 p-0" role="group" aria-label="group" @click='restoreTodo(index)'>
                                        <button type="button" class="btn"><i class="fas fa-trash-restore text-info"></i></button>
                                    </div>
                               
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>

            <!-- end main -->
            </div>
        
        <!-- fine container -->
        </div>


    </div>

    <script src="app.js"></script>
</body>
</html>